.buttons {
}
.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color:;

  // .button_secondary

  &_secondary {
  }

  // .button_primary

  &_primary {
  }
}
