.toster {
  position: fixed;
  right: 1.5vw;
  bottom: 1.5vw;
  z-index: 12;

  visibility: hidden;
  opacity: 0;
  cursor: default;
  pointer-events: none;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  padding: 16px;

  box-shadow: 0 2px 8px 0 var(--shadowBlack);
  background-color: var(--bgWhite);

  border-radius: var(--radius);

  // .toster__img
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accept);
  }

  // .toster__text
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
  }

  &_show {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}
