// fonts
$font-family: "Circe";
$second-family: "Arial";
$third-family: "Igra Sans";
$fourth-family: "Roboto";
$fontSize: 16;
$mainColor: #000000;

// layout
$minWidth: 375;
$maxWidth: 1920;
$maxWidthContainer: 1160;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;
$pc: $containerWidth;

// points
$tablet: 991.98;
$mobile: 767.98;
$mobileSmall: 479.98;
